#checkdriverPanel(hidden).panel
	h1 Check a driver's details
	hr
	
	#innerWrap
	
			form(action="/driverdetails" method="POST")#driverdetailsform
			
			legend 
				input(type="text" name="checkdriveremail" placeholder="Please enter Email Address")
				span.hint &nbsp;&nbsp;Email
			
			br
			
			
			button(type="button")#checkdriverdetails
				span.fa.fa-check &nbsp;&nbsp;
				span Check Driver Details