#loginuserPanel.panel
	h1 Sign In 
	
	hr
	img(src="/public/images/background_india-7a8a95b609.jpg" alt="Image")
	#innerWrap
		
		
		form(action="/loginuser" method="POST")#loginuserform
			legend 
				input(type="text" name="loginusername" placeholder="User Name")
				span.hint &nbsp;&nbsp;User Name
			
			br
			legend 
				input(type="password" name="loginpassword" placeholder="Password")
				span.hint &nbsp;&nbsp;Password
					
			br
			
			button(type="button")#loginuser
				span.fa.fa-check &nbsp;&nbsp;
				span Login
	
	u1#loginwrap			
	