#loginuserPanel.panel
	img(src="https://d1a3f4spazzrp4.cloudfront.net/ambassador/0.0.5/d1a3f4spazzrp4.cloudfront.net/static/images/join/background_india-7a8a95b609.jpg")
	h1 Sign In 
	
	hr
	
	//#innerWrap
		
		
		form(action="/loginuser" method="POST")#loginuserform
			legend 
				input(type="text" name="loginusername" placeholder="User Name")
				span.hint &nbsp;&nbsp;User Name
			
			
			legend 
				input(type="password" name="loginpassword" placeholder="Password")
				span.hint &nbsp;&nbsp;Password
					
			
			
			button(type="button")#loginuser
				span.fa.fa-check &nbsp;&nbsp;
				span Login
	
	//u1#loginwrap			
	