#loginuserPanel.panel
	h1 login 
	hr
	
	#innerWrap
		
		
		form(action="/loginuser" method="POST")#loginuserform
			legend 
				input(type="text" name="username" placeholder="User Name")
				span.hint &nbsp;&nbsp;User Name
			
			br
			legend 
				input(type="password" name="password" placeholder="Password")
				span.hint &nbsp;&nbsp;Password
					
			br
			
			button(type="button")#loginuser
				span.fa.fa-check &nbsp;&nbsp;
				span login
				
	u1#loginwrap			
	