#driverlistPanel(hidden).panel
	h1 Please find the list of drivers
	hr
	
	#innerWrap
	
	form(action="/drivermail" method="POST")#drivermailform	
		legend 
				input(type="text" name="selecteddriveremail" placeholder="Email")
				span.hint &nbsp;&nbsp;Email
	
	
				ul#driverdetailslist
	
	
		
		

		
		
		