#logo Uber.com 

#linkWraps
	// there is JS code that will show the corresponding panel to the clicked navigation div.
	// ie: clicking <div class="nav">HOME</div> will show panel #homePanel
	// this code is in layout.jade
	.nav#loginuserLink LOGIN
	.nav#signupLink SIGNUP
	//.nav#checkdriverLink CHECK DRIVER
	//.nav#driverdetailsLink DRIVER DETAILS
	.nav#pendingdriverlistLink PENDING DRIVER
	.nav#approvaldriverlistLink APPROVED DRIVER
	.nav#rejectdriverlistLink REJECTED DRIVER
	.nav#modifydriverLink MODIFY DRIVER
	.nav#logoutuserLink LOGOUT
	